.highlights-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
}

.item-image-container {
    display: flex;
    justify-content: center;
}

.item-image {
    border: 1px solid black;
    max-width: 200px;
    height: 150px;
    border-radius: 16px;
}

.item-name-and-price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}