.highlights-section {
    padding: 30px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.highlights-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.highlights-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.home-header {
    font-size: 2.8rem;
    color: #495e57;
    margin: 0px;
}

.online-menu-button {
    margin-top: 10px;
    margin-bottom: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #edefee;
    padding: 15px;
    /* border: 1px solid black; */
    border-radius: 16px;
    font-family: 'Karla', sans-serif;
}

.item-name {
    font-weight: bolder;
}

.item-description {
    font-size: 1.0rem;
    margin-bottom: 10px;
}

.item-image-container {
    display: flex;
    justify-content: center;
}

.item-image {
    /* border: 1px solid black; */
    width: auto;
    /* max-width: 200px; */
    height: 130px;
    border-radius: 16px;
}

.item-name-and-price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


@media screen and (max-width: 780px) {
    .highlights-container {
        flex-direction: column;
        align-items: center;
    }

    .item {
        margin-bottom: 20px;
    }
}