.confirmed-booking-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #495e57;
}

.confirmed-booking-header {
    color: #f4ce14;
    margin-bottom: 0px;
}

.confirmed-booking-subheader {
    font-weight: lighter;
    color: white;
    margin-top: 10px;
}