.confirmed-booking-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #495e57;
    margin-top: 200px;
    margin-bottom: 235px;
}

.confirmed-booking-header {
    color: #f4ce14;
    margin-bottom: 0px;
    font-weight: lighter;
}

.confirmed-booking-subheader {
    font-weight: lighter;
    color: white;
    margin-top: 0px;
}

.back-to-home-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}