.about-section {
    padding: 30px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.about-header {
    font-size: 3.0rem;
}

.about-location {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 2.4rem;
}

.about-header,
.about-description {
    margin: 0px;
}

.about-location,
.about-description {
    color: #495e57;
}

.about-description {}

/* .about-location {
    margin-top: 5px;
    margin-bottom: 5px;
} */

.about-text {
    max-width: 450px;
    margin-right: 15px;
}

.about-image {
    height: 240px;
    width: auto;
    border-radius: 16px;
}

@media screen and (max-width: 780px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        margin-top: 40px;
    }

    .about-image {
        max-width: 300px;
        height: auto;
    }
}