.booking-form {
    display: flex;
    flex-direction: column;
    color: white;
    /* font-size: 2.2rem; */
    padding: 20px;
}

.booking-form input,
.booking-form select {
    margin-bottom: 15px;
}

.form-section {
    /* background-color: green; */
}

.reservation-button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.reservation-button {
    background-color: #f4ce14;
    color: #495e57;
    border-radius: 16px;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 0px !important;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all;
}

.reservation-button:hover {
    /* background-color: #f4ce14; */
    background-color: #f0f0f0;
}

.reservation-button:disabled {
    background-color: rgb(146, 146, 146);
    cursor: not-allowed;
}

.reservation-button:enabled:active {
    background-color: #c8a911;
}