.footer-section {
    display: flex;
    justify-content: space-around;
    background-color: #495e57;
    color: #f4ce14;
    /* margin-top: 30px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
}

.footer-section a {
    color: white;
}

.footer-section li {
    font-weight: lighter;
}

.first-footer-section {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.big-logo {
    height: 170px;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
}

.footer-heading {
    font-weight: bold;
}

.footer-options {
    /* margin-top: 8px; */
}

.footer-icon {
    height: 30px;
    width: 30px;
}

.footer-icon-container {
    display: flex;
    align-items: center;
    /* margin-top: 5px; */
    margin-bottom: 5px;
}

.footer-icon-description {
    margin: 0px 5px;
}