.footer-section {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: #495e57;
    color: #f4ce14;
    margin-top: 30px;
    bottom: 0px;
}

.footer-section a {
    color: white;
}

.first-footer-section {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.big-logo {
    height: 170px;
    width: auto;
    margin-right: 30px;
    margin-top: 20px;
}

.footer-heading {
    font-weight: bold;
}

.footer-options {
    /* margin-top: 8px; */
}