.testimonials-section {
    padding: 30px;
}

.testimonials-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.individual-testimonial {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    border-radius: 16px;
    padding: 15px;
    font-family: Karla, sans-serif;
    width: 200px;
    /* border: 1px solid black; */
}

.review-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rating-and-image {
    display: flex;
    justify-content: center;
}

.reviewer-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.product-name-container {
    display: flex;
    justify-content: center;
}

.reviewer-name {
    margin-bottom: 0px;
    font-weight: bold;
}

.rating-title {
    margin-top: 0px;
}

.product-name {
    font-weight: bold;
}